#banner{
    height: 200px;
    width: 100%;
}

header{
    margin-top: 10px;
    color: aliceblue;
}
.box {
    padding: 10px;
    float: left;
    color: aliceblue;
    background-color: rgb(36, 34, 34);
    height: 260px;
    width: 290px;
    margin-top: 10px;
}
body{
    position: relative;
    background: url("/assets/images/nastyaaroma190200101.jpg");
    background-size: cover;
    background-position: 0% 35%;
    background-repeat: no-repeat;
}
.imageBox {
    height: 290px;
    width: 290px;
    float: left;
}

.image{
    height: 280px;
    width: 280px;
    margin-top: 10px;
    margin-left: 10px;
}
.gameCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
    margin-right: 20px;
}

#start{
    text-align: center;
    font-size: 50px;
}

#cate, #wrong,
#guess, .win, 
.lost{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}